

       /* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
}


body{
    margin-bottom:3%;
}

.clear {
  clear: both;
}


.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
body{
    margin-bottom:3%;
}


/*******************AUTOCOMPLETE****************************************************************/

#buscador{
  width: 50% !important;
}

.ui-autocomplete-loading {
  background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat !important;
}

/*************** ADD PEDIDOS *****************************************************************/


/*************** FORMS *****************************************************************/


/*************** DEFAULT *****************************************************************/

    .panel-new {
        border-color: #dfe8f1;
        background-color: #fff;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 20px;
    }

    h4.title-table {
        font-size: 15px;
    }
    .title-lead {
        color: #3f3f3f;
    }
    .title-table .title-lead {
        font-size: 65%;
        margin: 5px 0 0;
    }
    .title-table + .title-lead {
        margin-top: -10px;
    }


    /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.nav.nav-sidebar{
    border-right: 1px solid #dedede;
}

.pre {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
/******************* ADD PEDIDOS ************************/

#acciones {
  padding: 1% 0% !important;
}

#acciones button {
  margin-right: 9% !important;
}
