

       /* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
}


.clear {
  clear: both;
}


.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}



/*******************AUTOCOMPLETE****************************************************************/

#buscador{
  width: 50% !important;
}

.ui-autocomplete-loading {
  background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat !important;
}

/*************** ADD PEDIDOS *****************************************************************/


.nav-pills > li:first-child > a, .nav-pills > li:last-child > a  {
  border-radius: 0px !important;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #0d2a41 !important;
  color: #ffffff;
}

.nav > li.disabled > a {
  color: #0d2a41 !important;
}

.nav-pills > li > a {
  border: 2px solid #0d2a41 !important;
  color: white !important;
}

/*************** FORMS *****************************************************************/


/*************** DEFAULT *****************************************************************/

  .panel-new {
      border-color: #dfe8f1;
      background-color: #fff;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      margin-bottom: 20px;
  }

  h4.title-table {
      font-size: 15px;
  }
  .title-lead {
      color: #3f3f3f;
  }
  .title-table .title-lead {
      font-size: 65%;
      margin: 5px 0 0;
  }
  .title-table + .title-lead {
      margin-top: -10px;
  }

/******************* ADD PEDIDOS ************************/

#acciones {
  padding: 1% 0% !important;
}

#acciones button {
  margin-right: 9% !important;
}

#precio , #subtotal{
  text-align: right !important;
}
/********************** DATATABLE JS ***********************/

.table-responsive label {
  font-weight: 100 !important;
}

.pagination .current {
  background-color: #337ab7;
  color: white;
}

.dataTables_wrapper.form-inline.dt-bootstrap.no-footer {
  width: 98% !important;
}


table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate{
  margin-top:50px !important;
}

/********** BREADCRUMBS ************
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}


.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}


.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}


.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}


.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}


.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}


.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}


.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}
****/

/* BOOTSTRAP TABLE JS
-------------------------------------------------- */

/* TICKET
-------------------------------------------------- */

#botones {
  margin: 2% 0 0;
}

#recibo {
  margin-bottom: 5%;
}

#info-productos {
  border: 1px solid #f1f1f1 !important;
  padding: 1% 1.5% !important;
}

#info-observaciones {
  border-top: 1px solid #d9d9d9;
  margin: 0 auto;
  width: 90%;
  padding-bottom:5% !important;
}



.footer p {
  color: white !important;
}


/*********** MODAL
=============================================================*/

.modal-body #content {
  width: 100% !important;
}

.modal-body{
  border-bottom: 1px solid #e5e5e5 !important;
  background-color: #f4f3ef;
}

.modal-header {
  background-color: #0d2a41;
  color: white;
}

.close {
  color: #ffffff;
}

.modal-footer button {
  margin-top: 1%;
}
ul {
    text-decoration: none !important;
}
/* NAVBAR
   ========================================================================== */

.navbar.navbar-default {
  background-color: white;
}

.navbar.navbar-default a {
  color: #0d2a41 !important;
}

.navbar.navbar-default .dropdown-menu a {
  color: #0d2a41 !important;
}

.navbar.navbar-default .dropdown-menu a:hover {
  color: white !important;
  background-color: #0d2a41;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF !important;
}

/* SIDEBAR
   ========================================================================== */

   .sidebar .sidebar-wrapper {
     overflow: hidden !important;
   }

 .sidebar-mini .wrapper {
   height: 100% !important;
 }


 /* DATATABLE
    ========================================================================== */
 .fixed-table-container {
   margin-top: 6%;
 }

 .fixed-table-body {
  padding-top: 1%;
}


.card {
  padding-bottom: 2%;
}

 /* FORMS
    ========================================================================== */
.search .form-control {
  border: 1px solid #cfcfca !important;
}

form fieldset {
  margin-bottom: 2.5%;
}

.input-group-addon {
  background-color: #a7a7a7 !important;
  color: white !important;
}

/* LOADING
  ============================================================================== */

  .loading
{
    width: 16px;
    height: 16px;
    background:transparent url('loading.gif') no-repeat 0 0;
    font-size: 0px;
    display: inline-block;
}

/* VIEWS
  ============================================================================== */

  #header{
    padding-bottom: 1%;
  }

  #pedidos .btn {
    font-size: 1.3em !important;
  }

  .table-responsive {
    overflow-x: visible !important;
  }

  /* VIEWS
    ============================================================================== */

  .main-panel > .content {
    padding: 1% 15px 0;
  }

  .sidebar::after {
    background-color: #0d2a41 !important;
  }

  .sidebar a {
    color: white !important;
  }

  .sidebar .sidebar-wrapper {
    box-shadow: -1px 0 0 0 #0d2a41 inset;
  }

  .sidebar .logo, .off-canvas-sidebar .logo {
    box-shadow: -1px 0 0 0 #0d2a41 inset;
  }

  #minimizeSidebar {
    background-color: #0d2a41;
    border-color: white;
  }

  #minimizeSidebar:hover {
    background-color: #0d2a41;
    border-color: #0d2a41;
    color: #ffffff;
  }

  .dropdown button, .columns.columns-right.pull-right button {
    border-color: #0d2a41;
    color: #0d2a41;
  }

  .dropdown button:hover, .dropdown button:focus,.dropdown button:active,
  .dropdown li a:hover,
  .columns.columns-right.pull-right button:hover, .columns.columns-right.pull-right button:focus, .columns.columns-right.pull-right button:active,
  .columns.columns-right.pull-right li a:hover {
    background-color: #0d2a41 !important;
    border-color: #0d2a41 !important;
    color: white !important;
  }

  /* BOOTSTRAP
    ============================================================================== */

  hr {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .card legend {
    padding-left: 1% !important;
  }
